:root {
    --color-footer: #242d35;   /* Deep Slate */
    --color-header: #0b416d;   /* Dark Blue */
    --color-second: #3186bd;   /* Sky Blue */
    --color-main: #f9f9f9;     /* Soft Pearl */
    --color-light: #d3dadb;    /* Light Silver */
    --color-black: #000000;    /* Jet Black */
}

/* Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif, serif;
}

.container {
    margin: 0 auto;
    padding: 15px;
}

body {
    background-color: var(--color-main);
}

/* Media Queries for Container */
@media (min-width: 786px) {
    .container {
        /* width: 750px; */
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Header Section */
.header {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-header);
}

.header .logo_outside {
    margin-left: 40px;
}

.header .logo_outside h1 a {
    text-decoration: none;
    color: var(--color-main);
}

.header .container .links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 100px;
}

.header .container .links .icon span {
    border-radius: 10px;
    margin-bottom: 5px;
    display: none;
    background-color: var(--color-main);
}

.header .container .links .icon span:first-child {
    height: 3px;
    width: 100%;
}

.header .container .links .icon span:nth-child(2) {
    height: 3px;
    width: 80%;
}

.header .container .links .icon span:last-child {
    height: 3px;
    width: 100%;
}

.header .container .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .container .links ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
    list-style: none;
    margin-left: 100px;
}

.header .container .links ul li a {
    text-decoration: none;
    color: var(--color-main);
}

.header .container .links ul li:last-child {
    display: none;
}

.header .searchIcon {
    margin-right: 30px;
    font-size: 20px;
    color: var(--color-main);
}

/* Media Queries for Header */
@media (max-width: 992px) {
    .header .container .links .icon span {
        display: block;
    }
    .header .container  .links {
        transition: 0.3s ease-out;
    }
    
    .header .container .links ul {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: 100%;
        visibility: hidden;
        background-color: var(--color-header);
        flex-direction: column;
        padding: 40px;
        gap: 40px;
        z-index: 2;
    }
    
    .header .container .links:hover ul {
        visibility: visible;
    }
    
    .header .container .links ul li {
        width: 100%;
        border-bottom: 2px solid var(--color-main);
    }
    
    .header .container .links ul li:last-child {
        display: block;
    }
    
    .header .container .links ul li a {
        transition: 0.3s ease-out;
    }
    
    .header .container .links ul li a:hover {
        padding-left: 20px;
    }
    
    .header .searchIcon {
        display: none;
    }
}

@media (max-width: 767px) {

    .header .container .links ul {
        position: absolute;
        width: fit-content;
        visibility: hidden;
        background-color: var(--color-header);
    }
    
    .header .container .links:hover ul {
        visibility: visible;
    }
    
    .header .container .links ul li:last-child {
        display: block;
    }
    
    .header .container .links ul li:not(:last-child) {
        border-bottom: 2px solid var(--color-main);
    }
    
    .header .container .links ul li a:hover {
        padding-left: 20px;
    }
    
    .header .searchIcon {
        display: none;
    }
}
/* Home Section */
.home {
    padding: 60px 0;
    background-color: var(--color-main);
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 100px;
}

.home .container .text {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home .container .text h1 {
    width: 400px;
    font-size: 55px;
}

.home .container .text .buttons-get-in-touch {
    padding: 60px 0;
}

.home .container .text .buttons-get-in-touch * {
    padding: 10px 30px;
    margin-left: 10px;
    border: none;
    background-color: var(--color-footer);
    color: var(--color-main);
}

.home .container .text .buttons-get-in-touch button:first-child {
    background-color: var(--color-header);
}

.home .container .img-and-arrow-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.home .container .img-and-arrow-controller .image {
    width: 600px;
    height: 400px;
}

.home .container .img-and-arrow-controller .image img {
    width: 100%;
    height: 100%;
}

.home .container .img-and-arrow-controller .div-buttons-sliders button {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: var(--color-main);
    background-color: var(--color-footer);
}

/* Media Queries for Home */

@media (max-width: 1200px) {
    .home .container {

    }

    .home .container .text {
        width: 500px;
        padding: 30px;
    }
    
    .home .container .img-and-arrow-controller {
        flex-direction: column;
    }
   
    .home .container .img-and-arrow-controller .image {
        width: 400px;
        height: 300px;
    }
     
    .home .container .img-and-arrow-controller .div-buttons-sliders button {
        font-size: 18px;
        border: none;
        color: var(--color-main);
        background-color: var(--color-footer);
    }
}

@media (max-width: 767px) {
    
    .home {
        gap: 0px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .home .container .img-and-arrow-controller {
        display: none;
    }
    
    .home .container .text {
        width: 200px;
        padding: 20px;
    }

    .home .container .text h1 {

    }

    .home .container .img-and-arrow-controller .div-buttons-sliders button {
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        color: var(--color-main);
        background-color: var(--color-footer);
    }
}

@media (max-width: 992px) {
    
    .home .container .img-and-arrow-controller {
        display: none;
    }

    .home .container .text {
        width: 400px;
        padding: 30px;
    }

    .home .container .text h1 {

    }

    .home .container .img-and-arrow-controller .div-buttons-sliders button {
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        color: var(--color-main);
        background-color: var(--color-footer);
    }
}

/* Start Spcial Heading */
.special-heading  {
    padding-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
}

.special-heading h1  {
    font-size: 2.5rem;
}

.special-heading h1 span  {
    color: var(--color-header);
}

.special-heading hr {
    width: 100px;
    height: 10px;
    border: 2px solid var(--color-second);
    border-radius: 10px;
    background-color: var(--color-footer);
    margin-bottom: 60px;
}
/* Services Section */

.services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-main);
}

.services .cards {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services .cards .card {
    width: 300px;
    height: fit-content;
    background-color: #ffff;
    text-align: center;
}

.services .cards .card  img {
    width: 100%;
    height: 100%;
}

.services .cards .card .service_info {
    padding-bottom: 20px;
}

.services .cards .card .service_info  h2 {
    padding-top: 10px;
    text-align: center;
}

.services .cards .card .service_info p {
    padding: 20px;
    line-height: 1.6;
}

.services .cards .card .service_info button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    color: var(--color-main);
    background-color: var(--color-footer);
    
}

/* Start Quality */
.quality {
    
}

.quality .quality-background {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/blue-car-washed-mid-section.webp');
}

.quality .quality-background .container {
    text-align: center;
}

.quality .quality-background .container h1 {
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--color-main);
}

.quality .quality-background .container p {
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 60px;
}

.quality .quality-background .container button {
    border: none;
    color: var(--color-footer);
    font-weight: bold;
    padding: 20px 50px;
    margin-bottom: 100px;
}

/* Media Queries for Home */

@media (max-width: 767px) {
    .quality {
        
    }
    
    .quality .quality-background {

    }
    
    .quality .quality-background .container {

    }
    
    .quality .quality-background .container h1 {
        width: fit-content;
        margin: auto;
        padding: 20px;
        margin-top: 20px;
        background-color: rgba(0, 35, 131, 0.787);
    }
    
    .quality .quality-background .container p {
        padding: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.787);
    }
    
    .quality .quality-background .container button {

    }

}


/* Start Choose Us */
.choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choose-us .container {
}

.choose-us .container .cards {
}

.choose-us .container .cards .srv {
    padding: 30px;
}

.choose-us .container .cards .srv .info {
    padding: 30px;
    background-color: red;
}